@model BookListCombinedDto
@{
    ViewData["Title"] = "Home Page";
}

<form id="sort-filter-form" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Sort By</label>
            <select asp-for="SortFilterPageOptions.BookOrderBy" name="BookOrderBy"
                    asp-items="Html.GetEnumSelectList<BookOrderBy>()"
                    class="form-control sort-filter-width"
                    onchange="BookList.sendForm(this)"></select>
        </div>
        <div class="col-sm-3">
            <label class="control-label">Filter Type</label>
            <select asp-for="SortFilterPageOptions.BooksFilterBy" name="BooksFilterBy"
                    asp-items="Html.GetEnumSelectList<BooksFilterBy>()"
                    class="form-control sort-filter-width"
                    onchange="BookList.filterByHasChanged(this)"></select>
        </div>

        <div class="col-sm-3 dim-filter-value" id="filter-value-group">
            <label class="control-label">Filter By</label>
            <select asp-for="SortFilterPageOptions.FilterValue" name="FilterValue"
                    id="filter-value-dropdown"
                    class="form-control sort-filter-width"
                    disabled
                    onchange="BookList.sendForm(this)">
                <option>Select filter type...</option>
            </select>
        </div>

        <div class="col-sm-2">
            <label class="control-label">Page</label>
            <div>
                <input asp-for="SortFilterPageOptions.CurrentPage" name="CurrentPage"
                       class="form-control page-control-width page-num-input"
                       onchange="BookList.sendForm(this)">
                <span class="num-pages-text">of @Model.SortFilterPageOptions.PagesCount</span>
            </div>
        </div>

        <div class="col-sm-1">
            <label class="control-label">Page&nbsp;Size</label>
            <select asp-for="SortFilterPageOptions.PageSize" name="PageSize"
                    asp-items="Model.SortFilterPageOptions.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
                    class="form-control page-control-width"
                    onchange="BookList.sendForm(this)"></select>
        </div>
    </div>
</form>
<br/>
